/* Show it is fixed to the top */
body {
  font-family: "Nunito", sans-serif;

  min-height: 75rem;
  padding-top: 4.5rem;
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}

.jumbotron {
  border-radius: 20px;
  background-color: aliceblue;
  padding-top: 100px;
}

.navbar {
  padding-left: 50px;
}

.profile-image {
  width: 250px;
  height: 250px;
  justify-content: left;
  align-items: left;
  float: left;
  margin-right: 50px;
  margin-bottom: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.profile-div {
  margin-bottom: 30px;
}

.list-item {
  font-size: 20px;
  padding: 5px;
}

#profile-name {
  font-weight: bolder;
  text-decoration: underline;
}

#profile {
  float: left;
  margin-right: 20px;
}
